.container {
    display:grid;
    grid-template-columns:auto  auto auto;
    
    
}
.div1 {
    text-align:center;
    grid-column:1/4;
}
.div2 {
    text-align:center;
    
}
.div3 {
    text-align:center;
    
}
.div4 {
    text-align:center;
    grid-column:1/4;
}
.container >div {
    background-color:blue;
    padding:10px;
    border:1px solid black;
    font-weight:bolder;
    color:white;
}
